<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="3.0">
    <servlet>
        <servlet-name>file</servlet-name>
        <servlet-class>com.argus.FileServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
  
    <servlet>
        <servlet-name>query</servlet-name>
        <servlet-class>com.argus.QueryServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>settings</servlet-name>
        <servlet-class>com.argus.SettingsServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>query</servlet-name>
        <url-pattern>/query</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>settings</servlet-name>
        <url-pattern>/admin/settings.json</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>file</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>
</web-app>
